<h1>Your Bookings:</h1>

<% @user_bookings.each do |booking| %>
  <p>
    <br>
    Listing: <%= booking.listing.location %>
    <br>
    Dates: <%= booking.start_date %> to <%= booking.end_date %>
    <br>
    Description: <%= booking.listing.description %>
    <br>
    Owner: <%= booking.listing.owner.email %>
    <br>
    Status: <%= booking.status %>
    <br>
    <%= link_to "Cancel the booking",
      booking_path(booking),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <br>
    <br>
  </p>
<% end %>
