<%# listing schema "location"
"price"
"num_guests"
"description"
"owner_id" %>

<div id="<%= dom_id listing %>">
  <%= listing.title %>
  <%= listing.location %>

  <%= listing.price %>
  <%= listing.num_guests %>
  <%= listing.description %>
  <%= listing.owner_id %>
  <% listing.photos.each do |photo| %>
    <%= image_tag url_for(photo), width: 300, height:300 %>
  <% end %>
</div>
