<%# listing schema "location"
"price"
"num_guests"
"description"
"owner_id" %>

<div id="<%= dom_id listing %>">
  <%= listing.location %>
  <%= listing.price %>
  <%= listing.num_guests %>
  <%= listing.description %>
  <%= listing.owner_id %>
</div>
