<p style="color: green"><%= notice %></p>

<h1>Listings</h1>

<div id="listings">
  <%# <form action="">
    <input type="text" name="query">
    <button type="submit">Search</button>
  </form> %>
  <%= form_with url: listings_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for places"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  <% @listings.each do |listing| %>
    <%= render listing %>
    <p>
      <%= link_to "Show this listing", listing %>
    </p>
  <% end %>
</div>

<%= link_to "New listing", new_listing_path %>
