<h1><%= @listing.location %></h1>
<p><%= @listing.description %></p>
<% @listing.bookings.each do |booking| %>
  <div class="py-4">
    <p>Booking from <%= booking.user.email %></p>
    <p>Dates: <%= booking.start_date %> to <%= booking.end_date %></p>
    <% if booking.confirmed? %> <p>Confirmed Booking!</p>
    <% elsif booking.denied? %> <p>Denied Booking!</p>
    <% else %>
      <%= link_to "Confirm the booking",
        booking_path(booking, booking: { status: :confirmed }),
        data: {turbo_method: :patch},
        class: "block" %>
      <%= link_to "Deny the booking",
        booking_path(booking, booking: { status: :denied}),
        data: {turbo_method: :patch},
        class: "block" %>
    <% end %>
  </div>
<% end %>
