<% content_for :title do %>
  Bookings
<% end %>

<div>
  <%= link_to "Back to listings", listing_path(@listing) %>
</div>

<h1>New Booking</h1>

<%= simple_form_for [@listing, @booking] do |f| %>
  <div>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
  </div>
  <div>
    <%= f.submit "Book Now" %>
  </div>
<% end %>
